<ion-view view-title="movie.Name">
  <ion-content>
    <div ng-controller="listCtrl">
    <div class="card">
      <div class="item item-text-wrap">
      <div class="item item-thumbnail-left">
      <img src="{{details.poster}}">
        <div><p><h3>Name:</h3> {{details.title}}</p>
        <p><h3>Years: </h3>{{details.year}}</p>
        <p><h3>Actors: </h3>{{details.actors}}</p>
        <p><h3>Plot: </h3>{{details.plot}}</p>
        <p><h3>IMDB: </h3>{{details.rating}}</p>
        </div>
       </div>
       </div>
    </div>
    </div>
  </ion-content>
</ion-view>