<ion-view view-title="My Recommender">
<ion-content>
        <div ng-controller="recoCtrl">
          <form name="testform" class="simple-form">
            <label class="myLabel">Movie Name:</label>  <input ng-model="val" name="anim" class="my-input" /> 
             <input type="button" ng-click="getMovie()" value="Submit"/>
           </form>
            <div class="card" ng-repeat="movie in movies track by $index" >
             <a class="item" href="#/details" ng-click="titleName(movie.Name)" ><h3>{{movie.Name}}</h3></a>
        </div>
        </div>

       
      </ion-content>
      </ion-view>